@import "variables/_colores.scss";
@import "variables/_fuentes.scss";

@mixin size-1 {
    width: 3.125rem;
    height: 3.125rem;
}

@mixin size-2 {
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
}

@mixin size-3 {
    padding: 5px;
    border-top: 5px;
}

@mixin formulario {
    color: $headers;
    font-family: $fuente-2;
    font-size: 1.25rem;
    font-weight: bold;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent,#DBDBDB, transparent);
    border-radius: 6px;
}



body {
    background-color: $backgorund-color;
    margin: 0px;

    display: grid;
    grid-template-areas: 
    'header'
    'nav'
    'main'
    'footer';
}

header {
    grid-area: header;
    background-color: $headers;
}

nav {
    grid-area: nav;

    background-color: $background-color-sec;

    color: $nav-font;
    font-size: 2.5rem;
    letter-spacing: 0.7px;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

.icono {
    @include size-1
}

.home {
    display: flex;
    justify-content: center;

    img {
        border-radius: 0.9375rem;
    }
}

.frase {
    font-family: $fuente-1;
    font-size: 5rem;
    color: $headers;
    text-align: center;
    vertical-align: middle;
    margin-top: 2.5rem;
    margin-bottom: 1.25rem;
}

.titulo {
    margin-top: 0.625rem;
    margin-left: 1.5625rem;

    h1 {
        color: $headers;
        font-family: $fuente-1;
        font-size: 3.125rem;
    }
}

.texto {
    color: $text;
    font-family: $fuente-2;
    text-align: justify;
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.875rem;
}

.bio-mobile ul {
    display: none;
    color: $text;
    font-family: $fuente-2;
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.875rem;
}

.arabe {
    width: 31.25rem;
    border-radius: 0.9375rem;
}

.section-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    @include size-2;

    iframe {
        @include size-3;
    }
}

.form-label {
    @include formulario;
}

.boton {
    font-family: $fuente-2;
    color: $nav-font;
    font-weight: bolder;
    background-color: $background-color-sec;
    font-size: 1.5625rem;
}

@media screen and (max-width: 540px) {
    .frase {
        font-size: 3rem;
    }
}

@media screen and (max-width: 540px) {
    .texto {
        font-size: 1rem;
    }
}

@media screen and (max-width: 540px) {
    .section-1 {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 540px) {
    div p {
        display: none;
    }
}

@media screen and (min-width: 700px) {
    div ul {
        display: none;
    }
}

